name: "test"
on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches: [develop-0.3, holochain-0.3]
  pull_request:
    branches: [develop-0.3, holochain-0.3]

jobs:
  holochain_cli_launch:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-22.04]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: install Go stable
        uses: actions/setup-go@v4
        with:
          go-version: "stable"
      - name: install webkit2gtk (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.0-dev build-essential curl wget libssl-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev

      - name: install holochain_cli_launch to make sure it compiles
        run: cargo build --release --bin hc-launch
